$orange: #FF9C00;

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393434;
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;


    .col {
      text-align: left;
    }
    .info {
      text-align: left;
    }
    
    .logo {
      width: 314px;
      margin-bottom: 20px;
    }

    .info-head {
      color: $orange;
      font-size: 17px;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0 !important;

      li {
        text-align: left !important;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
   
}