


<div class="container col-md-6 offset-md-3 card-padding">

<!-- <div class="container col-md-6 offset-md-3 card-padding">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
    <div *ngIf="!emailSent">
        <div class="justify-content-center d-flex">
            
            <h2><b>Forgot Password</b></h2>
        </div>
        <div class="row-fluid d-flex justify-content-center"><img src="../assets/images/forgot_password.png" width="181" height="162"/></div>
        
        <div class="card-body pt-3">
            <!-- <form > -->
            <form [formGroup]="formEmail" (ngSubmit)="sendEmail()">
                <div class="mb-3">
                    <h6>First, tell us what is your email address</h6>
                    <input type="text" formControlName="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email"/>
                    <!-- Maybe only show error on each button press -->
                    <div *ngIf="submittedEmail && this.formEmail.controls.email.errors">
                        <div *ngIf="this.formEmail.controls.email.errors.required">
                            <span class="invalidFeedback">Email is required</span>
                        </div>
                        <div *ngIf="this.formEmail.controls.email.errors.pattern">
                            <span class="invalidFeedback">Email is invalid</span>
                        </div>
                    </div>
                    <div *nfIf="submittedEmail && this.error">
                        <span class="invalidFeedback">Please try again later</span>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <!-- <button [disabled]="loading" class="btn btn-primary"> -->
                            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
                        <button class="btn btn-primary"> 
                            Continue
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="emailSent">
        <div class="justify-content-center d-flex">
            <h2><b>Email Sent</b></h2>
        </div>
        <div class="card-body pt-3">
            <div class="mb-3">
                <h6 class="justify-text-center">A link to reset your password has been sent to your email.</h6>
                <div class="text-center" >
                    <img class="transformCheckmark" src="./assets/images/green_checkmark.png">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- </div> -->