


<div class="container col-md-6 offset-md-3 card-padding">

<!-- <div class="container col-md-6 offset-md-3 card-padding">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
    <div *ngIf="!verifying">
        <div class="justify-content-center d-flex">
            
            <h2><b>Forgot Password</b></h2>
        </div>
        <div class="row-fluid d-flex justify-content-center"><img src="../assets/pictures/forgot_password.png" width="181" height="162"/></div>
        
        <div class="card-body pt-3">
            <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
            <form>
                <div class="mb-3">
                    <h6>First, tell us what is your email address</h6>
                    <input type="text" formControlName="username" class="form-control" />
                    <!-- <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /> -->
                    <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback"> -->
                    <div>
                        
                        <!-- <div *ngIf="f.username.errors.required">Username is required</div> -->
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <!-- <button [disabled]="loading" class="btn btn-primary"> -->
                            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
                            <button class="btn btn-primary" (click)="verify()"> 
                                Continue
                            </button>
                    </div>
                    <!-- <div class="row">
                        <a [routerLink]="['/register']" class="btn btn-link">Create Account</a>
                    </div>     -->
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="verifying">
        <div class="justify-content-center d-flex">
            <h2><b>Verifying</b></h2>
        </div>
        
        <div class="card-body pt-3">
            <form>
                <div class="mb-3">
                    <h6 class="justify-text-center">A 6 Digits OTP code will be sent via e-mail to verify your e-mail address</h6>
                    <div class="justify-content-center d-flex">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:5}"></ng-otp-input>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                            <button class="btn btn-primary" (click)="verify()"> 
                                Submit
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- </div> -->