<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-sm">
            <div class="row-fluid d-flex justify-content-center">
                <a [routerLink]="['/']"><img src="../assets/logos/storeLogoLogin.png" alt="" width="280" height="70"></a>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-sm banner">
            <img class="ipad-banner" src="../assets/pictures/ipad_advert.png">
        </div>
    </div>
</div>