
<div class="container align-items-start">
        
    <div class="row">
        <img src="../assets/images/banner.jpg" alt="">
    </div>

    <div class="row mt-5">
        <h4>Shop Our Top Categories</h4>
        <div class="container">
            <div class="row">
                <!-- Dynamically Load these cards -->
                <div class="col">
                    <mat-card>
                        <mat-card-content>Tech</mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-content>Tech</mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-content>Tech</mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-content>Tech</mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-content>Tech</mat-card-content>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card>
                        <mat-card-content>Tech</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>