.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    background: gray;
}

.categories-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin: 28px 0;

}