$orangeColor: #FF9C00;

.menuSize {
    transform: scale(1.5);
    cursor: pointer;
}

.cart {
    transform: scale(1.3);
    cursor: pointer;
    margin-right: 1em;
}

.logout {
    transform: scale(1.3);
    cursor: pointer;
}

.dashboard {
    transform: scale(1.3);
    cursor: pointer;
    margin-right: 1em;
}

.example-spacer {
    flex: 1 1 auto;
}

header mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    background: #fff !important;
    border-bottom: 1px solid #d9d9d9;
}

header button {
    margin-left: 2em;
    border-radius: 8em;
    padding: 9px 20px;
}

.mdc-button:not(:last-child) {
    background: $orangeColor;
    color: white;
    border: none;
}

.mdc-button:last-child {
    background: inherit !important;
    border: 1px solid $orangeColor;
    color: $orangeColor;
}

a {
    text-decoration: none;
    color: inherit;
}
  

nav {
    width: 40%; 

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        margin: 0;
    }
}

.paddingLeft {
    padding-left: 2em;
}

span {
    cursor: pointer;
}


.active {
    color: #FF9C00;
}