<header class="header_desktop" >
    <div *ngIf="userState && !isVerified" class="verifyEmail text-black text-center pt-2 pb-2">
        <a [routerLink]="['dashboard']" >Please Verify Your Email</a>
    </div>
    <mat-toolbar class="d-flex">
            <div class="col">
                <a [routerLink]="['/']">
                    <img src="../assets/logos/storeLogo.png" alt="">
                </a>
            </div>

            <div class="col navPadding">
                <nav>
                    <ul>
                        <li>
                            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                        </li>
                        <li>
                            <a class="hover-underline-animation paddingLeft" [routerLink]="['shopOnline']" routerLinkActive="active">Shop Online</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['whatsNew']" routerLinkActive="active">What's New</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['contact']" routerLinkActive="active">Contact</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['aboutus']" routerLinkActive="active">About us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div class="col text-end">
                <div *ngIf="showUserMenu">
                    <div *ngIf="userState">
                        <mat-icon class="cart">shopping_cart</mat-icon>
                        <mat-icon [routerLink]="['dashboard']" class="dashboard">dashboard</mat-icon>
                        <mat-icon (click)="onLogout()" class="logout">logout</mat-icon>
                    </div>
                    <div *ngIf="!userState">
                            <button [routerLink]="['register']" mat-raised-button >Sign up</button>
                            <button [routerLink]="['login']" mat-raised-button>Login</button>
                    </div>
                </div>
            </div>
    </mat-toolbar>
    

</header>

<header class="header_mobile">
</header>