<header class="header_desktop" >
    <mat-toolbar class="d-flex">
            <div class="col">
                <a [routerLink]="['/']">
                    <img src="../assets/logos/storeLogo.png" alt="">
                </a>
            </div>

            <div class="col navPadding">
                <nav>
                    <ul>
                        <li>
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['shopOnline']">Shop Online</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['whatsNew']">What's New</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['contact']">Contact</a>
                        </li>
                        <li>
                            <a class="paddingLeft" [routerLink]="['aboutus']">About us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <div class="col text-end">
                <div *ngIf="showUserMenu">
                    <div *ngIf="userState">
                        <mat-icon [matMenuTriggerFor]="menu" class="menuSize">menu</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Cart</button>
                            <button mat-menu-item [routerLink]="['dashboard']">Dashboard</button>
                            <button (click)="onLogout()" mat-menu-item>Log Out</button>
                        </mat-menu>
                    </div>


                    <div *ngIf="!userState">
                            <button [routerLink]="['register']" mat-raised-button >Sign up</button>
                            <button [routerLink]="['login']" mat-raised-button>Login</button>
                    </div>
                </div>
            </div>
    </mat-toolbar>
    

</header>

<header class="header_mobile">
</header>