<header class="header_desktop">
    <mat-toolbar>
        <span>My App</span>
        <span class="example-spacer"></span>
        
        <div *ngIf="isLoggedOn; else displayButtons">
            <a href="#"><mat-icon>shopping cart</mat-icon></a>
        </div>

        <ng-template #displayButtons>
            <button [routerLink]="['register']" mat-raised-button >Sign up</button>
            <button [routerLink]="['login']" mat-raised-button><a   ariaCurrentWhenActive="page">Log in</a></button>
        </ng-template>

    </mat-toolbar>
</header>

<header class="header_mobile">
</header>