<div class="container col-md-6 offset-md-3 card-padding">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div>
        <div >
            <h2 class="justify-content-center d-flex"><b>Sign In</b></h2>
            <h6 class="justify-content-center d-flex pt-4">Sign in with your email address and password</h6>
        </div>
        <div class="card-body pt-3">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" #emailInput placeholder="Email"/>
                    <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div> -->
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" #passwordInput placeholder="Password"/>
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div> -->
                </div>
                <div class="flex ">
                    <a class="float-right" [routerLink]="['forgotPassword']" class="btn btn-link">Forgot password?</a>
                </div>
                <div class="container">
                    <div class="row">
                        <button (click)="onLogin(emailInput.value, passwordInput.value)" [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            Login
                        </button>
                    </div>
                    <div class="row">
                        <a [routerLink]="['/register']" class="btn btn-link">Create Account</a>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>