<div class="container col-md-6 offset-md-3 card-padding">
    <div>
        <div >
            <h2 class="justify-content-center d-flex"><b>Reset Password</b></h2>
            <h6 class="justify-content-center d-flex pt-4">Enter a new password</h6>
        </div>
        <div class="card-body pt-3">
            <form>
                <div class="mb-3">
                    <input type="password" class="form-control" #password placeholder="Password"/>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" #passwordVerify placeholder="Verify Password"/>
                </div>

                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="container">
                    <div class="row">
                        <button (click)="resetPassword(password.value, passwordVerify.value)" [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            Reset Password
                        </button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>