.card-item {
    background: rgb(253, 227, 100);
    width: 200px;
    height: 250px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;

   .info {
    span {
        margin-top: 15px;
    }
   }

    img {
        width: 161px;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-item-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    flex-direction: column;
}