.card-item {
    width: 300px;

    img {
        width: 200px;
        height: 250px;
    }

    .product-name {
        font-size: 21px;
        font-weight: bold;
    }

    .product-price {
        font-size: 25px;
    }

    p {
        font-size: 13px;
    }

    button {
        border: none;
        padding: 5px 15px;
        border-radius: 20px;
        color: white;
        background: #FF9C00;
        transition: all 0.3s;
        border: 2px solid #FF9C00;
        font-weight: 400;

        &:hover {
            background: white;
            color: #FF9C00;
        }
    }
}