$borderRadius: 20px;

.div-rel {
    width: 400px;
    position: relative;

    input {
        border-radius: $borderRadius;
        border: none;
        width: 100%;
        outline: none;
        padding: 9px 19px;
        color: white;
        background: #00000048;

        &::placeholder {
            color: white;
        }
    }


    button {
        position: absolute;
        top: 4px;
        right: 4px;
        border: none;
        border-radius: $borderRadius;
        padding: 5px 18px;
        background: #FF9C00;
        color: white;
    }
}

