
<div class="container text-center bannerPadding">
    <div class="row">
        <div class="col">
            <span class="fw-medium display-1">About Us</span>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <span class="fs-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </div>
    </div>
</div>


<div class="storeInfo">
    <div class="card shadow">
        <div class="card-body">
            <div class="container">
                <div class="row pt-3">
                    <div class="col-9">
                        <h1>We Make Shopping Online Easier For You</h1>
                    </div>
                    <div class="col-3">
                        <small>Learn More About The Company, The Team Behind It & How We Think</small>
                    </div>
                </div>

                <div class="row storeStats pb-5">
                    <div class="col">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <h1 class="orangeText">200+</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="font-weight-bold">Orders Completed</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <h1 class="orangeText">97%</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="font-weight-bold">Successful Orders</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <h1 class="orangeText">8k</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="font-weight-bold">User Accounts</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <h1 class="orangeText">100+</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="font-weight-bold">5 Star Reviews</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<div class="missionCards">
    <div class="row">
        <div class="col-lg-6 col-md-12 d-flex pt-3">
            <div class="card shadow pb-5">
                <div class="card-body">
                    <div class="container text-center">
                        <div class="row pb-4 pt-4">
                            <h1>Our Mission</h1>
                        </div>
                        <div class="row">
                            <span class="subtextPadding">Our mission is to create a good market place for local sellers & to create a smooth online shopping experience.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex pt-3">
            <div class="card shadow pb-5">
                <div class="card-body">
                    <div class="container text-center">
                        <div class="row pb-4 pt-4">
                            <h1>Our Vision</h1>
                        </div>
                        <div class="row">
                            <span class="subtextPadding">Our vision is to build a trustable online store for both customers and sellers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    <div class="container card shadow pb-5">
        <div class="row">
            <div class="col text-center">
                <h1 class="pt-5">We are the best local online shopping store</h1>
                <h5 class="pt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img class="img-fluid mt-4 shoppingImg" style="width: 80%" src="../../../../../assets/images/women_shopping.jpeg">
            </div>
        </div>
    </div>
</div>

<div class="pt-5 pb-5">
    <div class="container card shadow pb-5">
        <div class="row">
            <div class="col text-center">
                <p class="pt-5 fs-4 quoteMargin"><i>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="row">
                    <img class="img-fluid mt-1 mb-2 indianMan" src="../../../../../assets/images/indian_man.png">
                </div>
                <div class="row">
                    <p class="lessMarginBottom"><b>Amishka Amarasignhe</b></p>
                </div>
                <div class="row">
                    <p class="orangeText"><b>Customer</b></p>
                </div>            
            </div>
        </div>
    </div>
</div>